<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.free.room.dao.RoomMemberDAO">

  <insert id="insertHost">
    INSERT INTO ROOM_MEMBER (ROOM_ID, MEMBER_ID, ROLE_IN_ROOM)
    VALUES (#{roomId}, #{memberId}, 'HOST')
  </insert>

</mapper>